@import "tailwindcss";

@font-face {
  font-family: 'DM Sans';
  src: url('./assets/fonts/DM-Sans.ttf') format('truetype');
}

:root {
  font-family: 'DM Sans';
  color: #011627;
  background-color: #FDFFFC;
}

#root{
  display: flex;
  max-width: 100vw;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: start;
  box-sizing: border-box;
  min-height: 100vh;
}

