/* Contenedor Avatar */
.img-container {
    background-image: url('../../assets/img/avatar.png');
    background-size: 250px 250px;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 280px;
    height: 280px;
    border: 1px solid black;
    border-radius: 50%;
}